  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="device-container">
          <img class="img-responsive" src="assets/img/2026.png">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Feliz Año Nuevo</h1>
            <h4>Sarita, que tu Navidad sea bonita… y tu año una historia bendita. 🎁💫</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="audioembed">
    <audio controls="true" autoplay="true" src="assets/audio/audio.mp3" onloadeddata="setLowVolume()" id="audio1"></audio>
  </div>
